/*Mobile first*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
/* Navigation Bar Styles Mobile */
.nav-bar-logo {
    width: 15%;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
}
.nav-modal-close-button {
    position: absolute;
    right: 10px;
    top: 50%;
    bottom: 50%;
    width: 15%;
    cursor: pointer;
}
#mobile-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
}
.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.nav-link{
    background-color:red;
    width: 50%;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border: 1px yellow solid;
    font-size: 150%;
}
.nav-modal-main-logo {
    width: 35%;
    position: absolute;
    top: 5%;
}
/* Home Body Styles Mobile */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkslategrey;

}
.home-body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 95%;
    background-color: black;
    padding: 1rem;
    border-radius: 5px;
}
.home-body-main-logo {
    width: 50%;
    padding-bottom: .5rem;
}
.home-body-phone-number {
    font-size: 130%;
    color: red;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 1.5rem;
}
.home-body-website-purpose {
    font-size: 110%;
    color: black;
    background-color: green;
    border-radius: 500px;
    border: 1px solid yellow;
    padding: 2rem;
    padding-left: 3rem;
    text-align: center;
    text-align: start;
}
.home-body-job-container {
    width: 100%;
    height: 100%;
    background-color: red;
}
.home-body-job-container::before {
    content: "Jobs We Have Completed.";
    display: block;
    font-size: 120%;
    color: white;
    background-color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border-radius: 5px;
}
/*Desktop styles*/
@media (min-width: 768px) {
    body{
       background-color: aqua; 
    }
    nav {
        justify-content: flex-start;
    }
    nav a {        padding: 1rem 2rem;
    }       
    main {
        max-width: 1200px;
        margin: 0 auto;
    }   
    footer {
        position: static;
    }
}   